<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Admin Page</title>
</head>
<body class="container">
<h1>List of RSVPs</h1>
<hr th:replace="fragments :: headerRowAdmin">
<p th:unless="${rsvps} and ${rsvps.size()}">No RSVPS...yet!</p>
<div>
    <table th:if="${rsvps}" class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Attending</th>
                <th>Attending</th>
            </tr>
        </thead>
        <tr th:each="rsvp : ${rsvps}">
            <td th:text="${rsvp.firstName}"></td>
            <td th:text="${rsvp.lastName}"></td>
            <td th:text="${rsvp.email}"></td>
            <td th:text="${rsvp.attendance} ? 'Yes' : 'No'"></td>
            <td th:text="${rsvp.status}"></td>
        </tr>
    </table>
</div>
<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary btn-sm" href="/rsvp" th:href="@{/rsvp}">Add RSVP</a>
    <a class="btn btn-primary btn-sm" href="/admin/delete" th:href="@{/admin/delete}">Delete RSVP</a>
    <a class="btn btn-primary btn-sm" href="/logout" th:href="@{/logout}">Log Out</a>
</div>
</body>
</html>