<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>RSVP Form</title>
</head>
<body>
<p th:text="${errorMsg}"></p>
    <form method="post">
        <label>Name
        <input type="text" th:field="${rsvp.firstName}" placeholder="first name"><br>
        <input type="text" th:field="${rsvp.lastName}" placeholder="last name"><br>
        </label>
        <p th:errors="${rsvp.firstName}"></p>
        <p th:errors="${rsvp.lastName}"></p>
        <label>Email<
        <input type="text" th:field="${rsvp.email}" placeholder="email@email.com"><br>
        </label>
        <p th:errors="${rsvp.email}"></p>
        <label>Attendance
        <input type="checkbox" name="attendance"><label>Yes, I'm Attending</label><br>
        </label>
        <input type="submit" value="RSVP!">
    </form>
</body>
</html>