<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Thank you!</title>
</head>
<body>
<p> Thank you for your RSVP! </p>
<div>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="rsvp : ${rsvps}">
<!--                <td th:text="${rsvp}"></td>-->
                <td th:text="${rsvp.name}"></td>
                </tr>
        </tbody>
    </table>
</div>
</body>
</html>