<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>You are invited!</title>
</head>
<body class="container">
<div align="right">
    <nav th:replace="fragments :: navigation"></nav>
</div>
    <div align="center">
        <h1>You're Invited!</h1>
        <hr th:replace="fragments :: headerRow">
        <h2>The Smith's Yard Party on Saturday, May 8th</h2>
        <a class="btn btn-primary" href="/rsvp">RSVP Today!</a>
    </div>
</body>
</html>